
GO
/****** Object:  Table [dbo].[Condicion]    Script Date: 23/09/2022 08:38:52 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Condicion](
	[Condicion] [varchar](50) NOT NULL,
	[DiasVencimiento] [int] NULL,
	[TipoCondicion] [varchar](20) NULL,
	[TipoDias] [char](10) NULL,
	[DiasHabiles] [char](10) NULL,
	[DiasProntoPago] [int] NULL,
	[DescuentoProntoPago] [float] NULL,
	[FechaProntoPago] [varchar](20) NULL,
	[TipoDiasProntoPago] [char](10) NULL,
	[DiasHabilesProntoPago] [char](10) NULL,
	[ProntoPago] [bit] NOT NULL,
	[TipoInteres] [varchar](10) NULL,
	[Interes] [float] NULL,
	[PorMeses] [bit] NOT NULL,
	[Meses] [int] NULL,
	[PorSemanas] [bit] NULL,
	[Semanas] [int] NULL,
	[Orden] [int] NULL,
	[RecorrerVencimiento] [bit] NULL,
	[RecorrerDiaSemana] [varchar](20) NULL,
	[InteresesDevengados] [bit] NULL,
	[Tasa] [varchar](50) NULL,
	[DA] [bit] NULL,
	[DANumeroDocumentos] [int] NULL,
	[DATipoInteres] [varchar](20) NULL,
	[DAInteres] [float] NULL,
	[DAInteresImpuesto] [float] NULL,
	[DAInteresConcepto] [varchar](50) NULL,
	[DAPeriodo] [char](15) NULL,
	[DAImpPrimerDoc] [bit] NULL,
	[DADiaEspecifico] [int] NULL,
	[ControlAnticipos] [varchar](20) NULL,
	[Anticipado] [bit] NULL,
	[AnticipadoNumero] [int] NULL,
	[AnticipadoPeriodo] [char](15) NULL,
	[Corte] [bit] NULL,
	[CorteDia] [int] NULL,
	[AutoViajes] [int] NULL,
	[AutoCobroDef] [money] NULL,
	[AutoCobroPorcentajeDef] [float] NULL,
	[Grupo] [varchar](50) NULL,
	[TipoVenta] [varchar](50) NULL,
	[Termino] [int] NULL,
	[PagoMensual] [money] NULL,
	[TipoPago] [varchar](50) NULL,
	[NivelAcceso] [varchar](50) NULL,
	[InteresMoratorioBaseTabla] [bit] NULL,
	[AutoFin] [bit] NULL,
	[AutoFinPedidoTipo] [char](1) NULL,
	[AutoFinPedidoComision] [float] NULL,
	[AutoFinFacturaTipo] [char](1) NULL,
	[AutoFinFacturaComision] [float] NULL,
	[Neteo] [bit] NULL,
	[FacturaCobroIntegradoParcial] [bit] NULL,
	[CFD_formaDePago] [varchar](100) NULL,
	[CFD_metodoDePago] [varchar](100) NULL,
	[PROPREGrupo] [varchar](50) NULL,
	[PROPRECanal] [int] NULL,
	[LeasingMAVI] [float] NULL,
	[ProdUnic] [bit] NULL,
	[ListTemp] [bit] NULL,
	[DIMA] [bit] NULL,
	[IdCondicion] [int] IDENTITY(1,1) NOT NULL,
	[DiferirFechaAcumulacion] [bit] NULL,
	[PlazoEje] [bit] NULL,
 CONSTRAINT [priCondicion] PRIMARY KEY CLUSTERED 
(
	[Condicion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Condicion] ON 

GO
SET IDENTITY_INSERT [dbo].[Condicion] OFF
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ('Habiles') FOR [TipoDias]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ('Lun-Vie') FOR [DiasHabiles]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ('Emision') FOR [FechaProntoPago]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ('Habiles') FOR [TipoDiasProntoPago]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ('Lun-Vie') FOR [DiasHabilesProntoPago]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [ProntoPago]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [PorMeses]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [PorSemanas]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [RecorrerVencimiento]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [InteresesDevengados]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [DA]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ('Global') FOR [DATipoInteres]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [DAImpPrimerDoc]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ('No') FOR [ControlAnticipos]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [Anticipado]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [Corte]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [InteresMoratorioBaseTabla]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [AutoFin]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [Neteo]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [FacturaCobroIntegradoParcial]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [ProdUnic]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [ListTemp]
GO
ALTER TABLE [dbo].[Condicion] ADD  DEFAULT ((0)) FOR [DiferirFechaAcumulacion]
GO
ALTER TABLE [dbo].[Condicion] ADD  CONSTRAINT [DF_Condicion_PlazoEje]  DEFAULT ((0)) FOR [PlazoEje]
GO
EXEC sys.sp_addextendedproperty @name=N'IdCondicion', @value=N'Se Agrega el id auto incremementable para poder unirlo con la tabla FormaPago' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Condicion', @level2type=N'COLUMN',@level2name=N'IdCondicion'
GO
EXEC sys.sp_addextendedproperty @name=N'PlazoEje', @value=N'Determina si la condicion tiene habilitado el plazo eje' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Condicion', @level2type=N'COLUMN',@level2name=N'PlazoEje'
GO
