
GO
/****** Object:  Table [dbo].[Cte]    Script Date: 23/09/2022 04:14:33 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cte](
	[Cliente] [varchar](10) NOT NULL,
	--[Rama] [varchar](10) NULL,
	[Nombre] [varchar](100) NULL,
	--[NombreCorto] [varchar](20) NULL,
	[Direccion] [varchar](100) NULL,
	[DireccionNumero] [varchar](20) NULL,
	[DireccionNumeroInt] [varchar](20) NULL,
	--[EntreCalles] [varchar](100) NULL,
	--[Plano] [varchar](15) NULL,
	--[Observaciones] [varchar](100) NULL,
	[Delegacion] [varchar](100) NULL,
	[Colonia] [varchar](100) NULL,
	[Poblacion] [varchar](100) NULL,
	[Estado] [varchar](30) NULL,
	--[Pais] [varchar](100) NULL,
	--[Zona] [varchar](30) NULL,
	[CodigoPostal] [varchar](15) NULL,
	[RFC] [varchar](15) NULL,
	--[IEPS] [varchar](20) NULL,
	--[PITEX] [varchar](20) NULL,
	--[CURP] [varchar](30) NULL,
	--[Telefonos] [varchar](100) NULL,
	--[TelefonosLada] [varchar](6) NULL,
	--[Fax] [varchar](50) NULL,
	--[PedirTono] [bit] NOT NULL,
	--[Contacto1] [varchar](50) NULL,
	--[Contacto2] [varchar](50) NULL,
	--[Extencion1] [varchar](10) NULL,
	--[Extencion2] [varchar](10) NULL,
	--[eMail1] [varchar](50) NULL,
	--[eMail2] [varchar](50) NULL,
	--[DirInternet] [varchar](50) NULL,
	--[Categoria] [varchar](50) NULL,
	--[Grupo] [varchar](50) NULL,
	--[Familia] [varchar](50) NULL,
	--[Credito] [varchar](50) NULL,
	--[DiaRevision1] [varchar](10) NULL,
	--[DiaRevision2] [varchar](10) NULL,
	--[HorarioRevision] [varchar](50) NULL,
	--[DiaPago1] [varchar](10) NULL,
	--[DiaPago2] [varchar](10) NULL,
	--[HorarioPago] [varchar](50) NULL,
	--[ZonaImpuesto] [varchar](30) NULL,
	--[PedidosParciales] [bit] NOT NULL,
	--[Tipo] [varchar](15) NULL,
	--[Situacion] [varchar](50) NULL,
	--[SituacionFecha] [datetime] NULL,
	--[SituacionUsuario] [varchar](10) NULL,
	--[SituacionNota] [varchar](100) NULL,
	--[Descuento] [varchar](30) NULL,
	--[Agente] [varchar](10) NULL,
	--[AgenteServicio] [varchar](10) NULL,
	--[Agente3] [varchar](10) NULL,
	--[Agente4] [varchar](10) NULL,
	--[EnviarA] [int] NULL,
	--[Proyecto] [varchar](50) NULL,
	--[FormaEnvio] [varchar](50) NULL,
	--[Condicion] [varchar](50) NULL,
	--[Ruta] [varchar](50) NULL,
	--[RutaOrden] [int] NULL,
	--[ListaPrecios] [int] NULL,
	--[ListaPreciosEsp] [varchar](20) NULL,
	--[DefMoneda] [varchar](10) NULL,
	--[VtasConsignacion] [bit] NOT NULL,
	--[AlmacenVtasConsignacion] [varchar](10) NULL,
	--[Clase] [varchar](15) NULL,
	--[Estatus] [varchar](15) NOT NULL,
	--[UltimoCambio] [datetime] NULL,
	--[Alta] [datetime] NULL,
	--[Conciliar] [bit] NOT NULL,
	--[Mensaje] [varchar](50) NULL,
	--[Numero] [int] NULL,
	--[Contrasena] [varchar](20) NULL,
	--[Contrasena2] [varchar](20) NULL,
	--[wVerDisponible] [bit] NULL,
	--[wVerArtListaPreciosEsp] [bit] NULL,
	--[ChecarCredito] [varchar](20) NULL,
	--[BloquearMorosos] [varchar](20) NULL,
	--[ModificarVencimiento] [varchar](10) NULL,
	--[CreditoEspecial] [bit] NOT NULL,
	--[CreditoConLimite] [bit] NOT NULL,
	--[CreditoLimite] [money] NULL,
	--[CreditoConLimitePedidos] [bit] NULL,
	--[CreditoLimitePedidos] [money] NULL,
	--[CreditoMoneda] [varchar](10) NULL,
	--[CreditoConDias] [bit] NOT NULL,
	--[CreditoDias] [int] NULL,
	--[CreditoConCondiciones] [bit] NOT NULL,
	--[CreditoCondiciones] [varchar](50) NULL,
	--[TieneMovimientos] [bit] NULL,
	--[Cobrador] [varchar](50) NULL,
	--[PersonalCobrador] [varchar](10) NULL,
	--[DescuentoRecargos] [bit] NULL,
	--[RecorrerVencimiento] [varchar](20) NULL,
	--[AlmacenDef] [varchar](10) NULL,
	--[SucursalEmpresa] [int] NULL,
	--[NivelAcceso] [varchar](50) NULL,
	--[Idioma] [varchar](50) NULL,
	--[BonificacionTipo] [varchar](20) NULL,
	--[Bonificacion] [float] NULL,
	--[VigenciaDesde] [datetime] NULL,
	--[VigenciaHasta] [datetime] NULL,
	--[Descripcion1] [varchar](50) NULL,
	--[Descripcion2] [varchar](50) NULL,
	--[Descripcion3] [varchar](50) NULL,
	--[Descripcion4] [varchar](50) NULL,
	--[Descripcion5] [varchar](50) NULL,
	--[Descripcion6] [varchar](50) NULL,
	--[Descripcion7] [varchar](50) NULL,
	--[Descripcion8] [varchar](50) NULL,
	--[Descripcion9] [varchar](50) NULL,
	--[Descripcion10] [varchar](50) NULL,
	--[Descripcion11] [varchar](50) NULL,
	--[Descripcion12] [varchar](50) NULL,
	--[Descripcion13] [varchar](50) NULL,
	--[Descripcion14] [varchar](50) NULL,
	--[Descripcion15] [varchar](50) NULL,
	--[Descripcion16] [varchar](50) NULL,
	--[Descripcion17] [varchar](50) NULL,
	--[Descripcion18] [varchar](50) NULL,
	--[Descripcion19] [varchar](50) NULL,
	--[Descripcion20] [varchar](50) NULL,
	--[FormasPagoRestringidas] [bit] NULL,
	--[PreciosInferioresMinimo] [bit] NULL,
	--[CBDir] [varchar](255) NULL,
	--[PersonalNombres] [varchar](100) NULL,
	--[PersonalApellidoPaterno] [varchar](50) NULL,
	--[PersonalApellidoMaterno] [varchar](50) NULL,
	--[PersonalDireccion] [varchar](100) NULL,
	--[PersonalEntreCalles] [varchar](100) NULL,
	--[PersonalPlano] [varchar](15) NULL,
	--[PersonalDelegacion] [varchar](100) NULL,
	--[PersonalColonia] [varchar](100) NULL,
	--[PersonalPoblacion] [varchar](100) NULL,
	--[PersonalEstado] [varchar](30) NULL,
	--[PersonalPais] [varchar](30) NULL,
	--[PersonalZona] [varchar](30) NULL,
	--[PersonalCodigoPostal] [varchar](15) NULL,
	--[PersonalTelefonos] [varchar](100) NULL,
	--[PersonalTelefonosLada] [varchar](6) NULL,
	--[PersonalTelefonoMovil] [varchar](30) NULL,
	--[PersonalSMS] [bit] NULL,
	--[FechaNacimiento] [datetime] NOT NULL,
	--[Titulo] [varchar](20) NULL,
	--[EstadoCivil] [varchar](20) NULL,
	--[FechaMatrimonio] [datetime] NULL,
	--[Conyuge] [varchar](100) NULL,
	--[Sexo] [varchar](20) NULL,
	--[Fuma] [bit] NULL,
	--[Profesion] [varchar](100) NULL,
	--[Puesto] [varchar](100) NULL,
	--[NumeroHijos] [int] NULL,
	--[Alergias] [varchar](255) NULL,
	--[Religion] [varchar](50) NULL,
	--[Responsable] [varchar](100) NULL,
	--[Parentesco] [varchar](50) NULL,
	--[FacturarCte] [varchar](10) NULL,
	--[FacturarCteEnviarA] [int] NULL,
	--[Aseguradora] [varchar](10) NULL,
	--[NombreAsegurado] [varchar](100) NULL,
	--[PolizaTipo] [varchar](50) NULL,
	--[PolizaNumero] [varchar](20) NULL,
	--[PolizaReferencia] [varchar](50) NULL,
	--[PolizaImporte] [money] NULL,
	--[Deducible] [money] NULL,
	--[DeducibleMoneda] [varchar](10) NULL,
	--[Coaseguro] [float] NULL,
	--[Espacio] [varchar](10) NULL,
	--[OtrosCargos] [varchar](50) NULL,
	--[Flotilla] [bit] NULL,
	--[FordDistribuidor] [varchar](10) NULL,
	--[FordZona] [varchar](30) NULL,
	--[ExcentoISAN] [bit] NULL,
	--[CRMImporte] [money] NULL,
	--[CRMCantidad] [float] NULL,
	--[CRMEtapa] [varchar](20) NULL,
	--[CRMCierreProbabilidad] [float] NULL,
	--[CRMCierreFechaAprox] [datetime] NULL,
	--[CRMPresupuestoAsignado] [money] NULL,
	--[CRMCompetencia] [varchar](50) NULL,
	--[CRMInfluencia] [varchar](50) NULL,
	--[CRMFuente] [varchar](50) NULL,
	--[Fecha1] [datetime] NULL,
	--[Fecha2] [datetime] NULL,
	--[Fecha3] [datetime] NULL,
	--[Fecha4] [datetime] NULL,
	--[Fecha5] [datetime] NULL,
	--[EsProveedor] [bit] NULL,
	--[EsPersonal] [bit] NULL,
	--[EsAgente] [bit] NULL,
	--[EsAlmacen] [bit] NULL,
	--[EsEspacio] [bit] NULL,
	--[EsCentroCostos] [bit] NULL,
	--[EsProyecto] [bit] NULL,
	--[EsCentroTrabajo] [bit] NULL,
	--[EsEstacionTrabajo] [bit] NULL,
	--[Usuario] [varchar](10) NULL,
	--[Licencias] [int] NULL,
	--[LicenciasTipo] [varchar](20) NULL,
	--[LicenciasLlave] [varchar](50) NULL,
	--[Cuenta] [varchar](20) NULL,
	--[CuentaRetencion] [varchar](20) NULL,
	--[FiscalRegimen] [varchar](30) NOT NULL,
	--[PedidoDef] [bit] NULL,
	--[eMailAuto] [bit] NULL,
	--[wMovVentas] [varchar](20) NULL,
	--[Intercompania] [bit] NULL,
	--[Publico] [bit] NULL,
	--[CRMovVenta] [varchar](20) NULL,
	--[Extranjero] [bit] NULL,
	--[DocumentacionCompleta] [bit] NULL,
	--[OperacionLimite] [money] NULL,
	--[ImportadorRegimen] [varchar](30) NULL,
	--[ImportadorRegistro] [varchar](30) NULL,
	--[LocalidadCNBV] [varchar](10) NULL,
	--[ActividadEconomicaCNBV] [varchar](10) NULL,
	--[Grado] [varchar](10) NULL,
	--[GLN] [varchar](50) NULL,
	--[InterfacturaRI] [varchar](10) NULL,
	--[EDIIdentificador] [varchar](10) NULL,
	--[EDICalificador] [varchar](10) NULL,
	--[ProveedorClave] [varchar](20) NULL,
	--[ProveedorInfo] [varchar](50) NULL,
	--[RPU] [varchar](12) NULL,
	--[SIRAC] [varchar](10) NULL,
	--[IFE] [varchar](15) NULL,
	--[Pasaporte] [varchar](15) NULL,
	--[GrupoSanguineo] [varchar](2) NULL,
	--[GrupoSanguineoRH] [varchar](10) NULL,
	--[Peso] [float] NULL,
	--[Estatura] [float] NULL,
	--[Comentarios] [text] NULL,
	--[PolizaFechaEmision] [datetime] NULL,
	--[PolizaVencimiento] [datetime] NULL,
	--[NotificarA] [varchar](100) NULL,
	--[NoriticarATelefonos] [varchar](100) NULL,
	--[ExpedienteFamiliar] [varchar](20) NULL,
	--[SincroID] [timestamp] NULL,
	--[SincroC] [int] NULL,
	--[TipoCalle] [varchar](25) NULL,
	--[MaviEstatus] [varchar](30) NULL,
	--[MaviRecomendadoPor] [varchar](10) NULL,
	--[ProspectoACteMAVI] [bit] NULL,
	--[SeEnviaBuroCreditoMavi] [bit] NULL,
	[CalificacionGlobal] [float] NULL,
	--[NivelCobranzaEspecialMAVI] [varchar](100) NULL,
	--[ImporteRentaMavi] [money] NULL,
	--[ViveEnCalidad] [varchar](30) NULL,
	--[AntiguedadNegocioMavi] [int] NULL,
	--[EnviarCobTelMavi] [bit] NULL,
	--[MotivoMavi] [varchar](50) NULL,
	--[CalculoMoratorioMAVI] [bit] NULL,
	--[MotivoMAVIPublicidad] [varchar](50) NULL,
	--[PublicidadMAVI] [bit] NULL,
	--[FechaUltimoCobro] [datetime] NULL,
	--[MovimientoUltimoCobro] [varchar](50) NULL,
	--[FechaUltimoCobroAux] [datetime] NULL,
	--[MovimientoUltimoCobroAux] [varchar](50) NULL,
	--[ParentescoRecomiendaMavi] [varchar](20) NULL,
	--[DireccionRecomiendaMavi] [varchar](60) NULL,
	--[CFD_Enviar] [bit] NULL,
	--[SerieMonedero] [varchar](20) NULL,
	--[LimiteCredito] [money] NULL,
	--[IDAVAL] [varchar](30) NULL,
	--[Bandera1] [bit] NULL,
	--[Bandera2] [bit] NULL,
	--[Nacionalidad] [varchar](12) NOT NULL,
	--[Canal] [varchar](50) NULL,
	--[NivelEspecialContacto] [varchar](2000) NULL,
	--[LCAXSI] [money] NULL,
	--[EsCredExpress] [bit] NULL,
	--[TipoCredito] [int] NULL,
	[IDMagento] [int] NULL,
	--[esAutCredEspecial] [bit] NULL,
	--[IngresoMensualCredWeb] [money] NULL,
	--[esDimaElite] [bit] NULL,
	--[LimiteCredDimaElite] [money] NULL,
	--[SmsEnviados] [int] NULL,
	--[SiPorcFactDIMA] [bit] NOT NULL,
	--[RetiroApoyoCobranza] [bit] NOT NULL,
	[SinBonifDIMA] [bit] NOT NULL,
	--[TipoDIMA] [varchar](20) NULL,
	--[BonoBienvenida] [bit] NOT NULL,
	[IdCatalogoTarjetas] [varchar](16) NULL,
	--[Irregularidad] [bit] NOT NULL,
	--[NegativaBC] [bit] NOT NULL,
	--[SIC] [varchar](10) NULL,
	--[ReferenciaBancaria] [varchar](50) NULL,
	--[MapaLatitud] [float] NULL,
	--[MapaLongitud] [float] NULL,
	--[MapaPrecision] [int] NULL,
	--[FueraLinea] [bit] NULL,
	--[TipoRegistro] [varchar](20) NULL,
	--[FiscalGenerar] [bit] NULL,
	--[FiscalZona] [varchar](30) NULL,
	--[CRMID] [varchar](36) NULL,
	--[SincronizarCRM] [bit] NULL,
	--[PrimaryContactId] [varchar](36) NULL,
	--[TemaCRM] [varchar](30) NULL,
	--[ContactoTipo] [varchar](20) NULL,
	--[ReferenciaIntelisisService] [varchar](50) NULL,
	--[DefPosicionRecibo] [varchar](10) NULL,
	--[DefPosicionSurtido] [varchar](10) NULL,
	--[TarimasChep] [bit] NULL,
	--[MFATipoOperacion] [varchar](50) NOT NULL,
	--[MapaUbicacion] [varchar](100) NULL,
	--[CRMObjectId] [uniqueidentifier] NULL,
	--[Ubicacion] [varchar](1000) NULL,
	--[SerieMonederoVIU] [varchar](20) NULL,
	--[CreditoEmpresario] [bit] NOT NULL,
	--[LimiteEmpresario] [money] NULL,
	--[LCAXSIEMP] [money] NULL,
	--[Ingresos] [money] NULL,
	--[Licencia] [varchar](50) NULL,
	--[Giro] [varchar](100) NULL,
	--[UsoCFDI] [varchar](3) NOT NULL,
	[NIPVenta] [varchar](50) NULL
	--[NIPCobro] [varchar](50) NULL,
	--[CreditoDineralia] [bit] NOT NULL,
	--[LimiteDineralia] [money] NULL,
	--[BloqueoDineralia] [bit] NOT NULL,
	--[FechaBloqDineralia] [date] NULL,
	--[MotivoDesbloqDineralia] [varchar](100) NULL,
	--[NumeroTarjetaDineralia] [varchar](18) NULL,
	--[ReestructuraDeuda] [bit] NULL,
	--[Latitud] [varchar](20) NULL,
	--[Longitud] [varchar](20) NULL,
	--[CtaBanco] [varchar](50) NULL,
	--[ClaveBanco] [int] NULL,
	--[ClabeCuenta] [varchar](100) NULL,
	--[Tarjeta] [varchar](100) NULL,
	--[PaginaWeb] [varchar](100) NULL,
	--[eMail] [varchar](50) NULL,
	--[NombreComercial] [varchar](100) NULL,
	--[ReferidoNombre] [varchar](100) NULL,
	--[ReferidoMail] [varchar](50) NULL,
	--[ReferidoTelefono] [varchar](100) NULL,
	--[ReferidoRFC] [varchar](10) NULL,
	--[RelacionReferencia] [varchar](40) NULL,
	--[Origen] [varchar](50) NULL,
	--[EsFavorito] [bit] NULL,
	--[vic_NoValidarContrato] [bit] NULL,
	--[DireccionMax] [text] NULL,
	--[PersonalNacionalidadCve] [varchar](5) NULL,
	--[PersonalNacionalidad] [varchar](50) NULL,
	--[PersonalEstadoCve] [varchar](5) NULL,
	--[PersonalMunicipioCve] [varchar](10) NULL,
	--[PersonalLocalidadCve] [varchar](15) NULL,
	--[ClaveECE] [varchar](20) NULL,
	--[PacienteExterno] [bit] NULL,
	--[PersonalCveTipoVialidad] [varchar](10) NULL,
	--[PersonalTipoVialidad] [varchar](500) NULL,
	--[PersonalCveTipoAsentamiento] [varchar](10) NULL,
	--[PersonalTipoAsentamiento] [varchar](500) NULL,
	--[PersonalVialidad] [varchar](500) NULL,
	--[PersonalNumInt] [varchar](50) NULL,
	--[PersonalNumExt] [varchar](50) NULL,
	--[PersonalEstadoNacimientoCve] [varchar](5) NULL,
	--[PersonalEstadoNacimiento] [varchar](50) NULL,
	--[FolioActivo] [varchar](20) NULL,
	--[FolioActivoFecha] [datetime] NULL,
	--[Desconocido] [bit] NULL,
	--[PersonalBuscaResp] [bit] NULL,
	--[Embarazo] [bit] NULL,
	--[LineaCredMayoreo] [money] NULL,
	--[LCAXSIMayoreo] [money] NULL,
	--[CPAXAMayoreo] [money] NULL,
	--[TipoCuentaMayoreo] [varchar](50) NULL,
	--[IngresoTipo] [varchar](50) NULL,
	--[Banco] [varchar](50) NULL,
	--[CuentaCLABEValidada] [bit] NOT NULL,
 CONSTRAINT [priCte] PRIMARY KEY CLUSTERED 
(
	[Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [PedirTono]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((1)) FOR [PedidosParciales]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('Cliente') FOR [Tipo]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((1)) FOR [ListaPrecios]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [VtasConsignacion]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [Conciliar]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [wVerDisponible]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [wVerArtListaPreciosEsp]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('(Empresa)') FOR [ChecarCredito]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('(Empresa)') FOR [BloquearMorosos]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('(Empresa)') FOR [ModificarVencimiento]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [CreditoEspecial]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [CreditoConLimite]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [CreditoConLimitePedidos]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [CreditoConDias]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [CreditoConCondiciones]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [TieneMovimientos]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [DescuentoRecargos]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('No') FOR [RecorrerVencimiento]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('No') FOR [BonificacionTipo]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [FormasPagoRestringidas]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [PreciosInferioresMinimo]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [PersonalSMS]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [Fuma]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [Flotilla]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [ExcentoISAN]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsProveedor]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsPersonal]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsAgente]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsAlmacen]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsEspacio]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsCentroCostos]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsProyecto]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsCentroTrabajo]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [EsEstacionTrabajo]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [PedidoDef]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [eMailAuto]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [Intercompania]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [Publico]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('(Empresa)') FOR [CRMovVenta]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [Extranjero]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [DocumentacionCompleta]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((1)) FOR [SincroC]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((1)) FOR [EnviarCobTelMavi]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [CalculoMoratorioMAVI]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [PublicidadMAVI]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [CFD_Enviar]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [LimiteCredito]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('MX') FOR [Nacionalidad]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('') FOR [Canal]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [esAutCredEspecial]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [esDimaElite]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [SmsEnviados]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_CTE_SiPorcFactDIMA]  DEFAULT ((0)) FOR [SiPorcFactDIMA]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_CTE_RetiroApoyoCobranza]  DEFAULT ((0)) FOR [RetiroApoyoCobranza]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_SinBonifDIMA]  DEFAULT ((0)) FOR [SinBonifDIMA]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_BonoBienvenida]  DEFAULT ((0)) FOR [BonoBienvenida]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_Irregularidad]  DEFAULT ((0)) FOR [Irregularidad]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_NegativaBC]  DEFAULT ((0)) FOR [NegativaBC]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [FueraLinea]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((1)) FOR [FiscalGenerar]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [SincronizarCRM]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('Cliente') FOR [ContactoTipo]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [TarimasChep]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ('otros') FOR [MFATipoOperacion]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_CreditoEmpresario]  DEFAULT ((0)) FOR [CreditoEmpresario]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_UsoCFDI]  DEFAULT ('G03') FOR [UsoCFDI]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_CreditoDineralia]  DEFAULT ((0)) FOR [CreditoDineralia]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_BloqueoDineralia]  DEFAULT ((0)) FOR [BloqueoDineralia]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_ReestructuraDeuda]  DEFAULT ((0)) FOR [ReestructuraDeuda]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((1)) FOR [vic_NoValidarContrato]
--GO
--ALTER TABLE [dbo].[Cte] ADD  DEFAULT ((0)) FOR [Embarazo]
--GO
--ALTER TABLE [dbo].[Cte] ADD  CONSTRAINT [DF_Cte_CuentaCLABEValidada]  DEFAULT ((0)) FOR [CuentaCLABEValidada]
--GO
--ALTER TABLE [dbo].[Cte]  WITH CHECK ADD  CONSTRAINT [CH_Cte_FechaNacimiento] CHECK  (([FechaNacimiento]<>''))
--GO
--ALTER TABLE [dbo].[Cte] CHECK CONSTRAINT [CH_Cte_FechaNacimiento]
--GO
--EXEC sys.sp_addextendedproperty @name=N'PersonalNombres ', @value=N'Campo encargado de guardar el nombre del cliente sin apellidos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'PersonalNombres'
--GO
--EXEC sys.sp_addextendedproperty @name=N'RetiroApoyoCobranza', @value=N'Retirar Apoyo Cobranza a DIMAS' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'RetiroApoyoCobranza'
--GO
--EXEC sys.sp_addextendedproperty @name=N'SinBonifDIMA', @value=N'Este campo permite determinar si al cliente DIMA se le otorga o no la bonificacion de venta' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'SinBonifDIMA'
--GO
--EXEC sys.sp_addextendedproperty @name=N'TipoDIMA', @value=N'Este campo almacena la clasificación que se le otorga al cliente DIMA por parte de credito' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'TipoDIMA'
--GO
--EXEC sys.sp_addextendedproperty @name=N'IdCatalogoTarjetas', @value=N'Variable que almacena el numero que se encuentra en la tarjeta la cual se le asigna al cliente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'IdCatalogoTarjetas'
--GO
--EXEC sys.sp_addextendedproperty @name=N'Irregularidad', @value=N'Campo donde se guardara la Irregularidad del Cliente DIMA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'Irregularidad'
--GO
--EXEC sys.sp_addextendedproperty @name=N'NegativaBC', @value=N'Campo donde se guardara el Comportamiento del Cliente en Buro de Credito' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'NegativaBC'
--GO
--EXEC sys.sp_addextendedproperty @name=N'SerieMonederoVIU', @value=N'Monedero virtual para UEN 2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'SerieMonederoVIU'
--GO
--EXEC sys.sp_addextendedproperty @name=N'CreditoEmpresario', @value=N'Indica si el cliente cuenta con crédito para CREDILANA EMPRESARIO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'CreditoEmpresario'
--GO
--EXEC sys.sp_addextendedproperty @name=N'LimiteEmpresario', @value=N'Indica el limite de crédito para CREDILANA EMPRESARIO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'LimiteEmpresario'
--GO
--EXEC sys.sp_addextendedproperty @name=N'LCAXSIEMP', @value=N'Indica el limite de crédito de sistema para CREDILANA EMPRESARIO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'LCAXSIEMP'
--GO
--EXEC sys.sp_addextendedproperty @name=N'Ingresos', @value=N'Campo donde se guardara los ingresos del Cliente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'Ingresos'
--GO
--EXEC sys.sp_addextendedproperty @name=N'Licencia', @value=N'Campo donde se guardara la Licencia del negocio del Cliente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'Licencia'
--GO
--EXEC sys.sp_addextendedproperty @name=N'Giro', @value=N'Campo donde se guardara el Giro del negocio del Cliente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'Giro'
--GO
--EXEC sys.sp_addextendedproperty @name=N'UsoCFDI', @value=N'Columna saber el CFDI para el cliente' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'UsoCFDI'
--GO
--EXEC sys.sp_addextendedproperty @name=N'NIPVenta', @value=N'Campo donde se guardara la clave de Venta del Cliete' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'NIPVenta'
--GO
--EXEC sys.sp_addextendedproperty @name=N'NIPCobro', @value=N'Campo donde se guardara guardara la clave de Cobro del Cliete' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'NIPCobro'
--GO
--EXEC sys.sp_addextendedproperty @name=N'CreditoDineralia', @value=N'Indica si el cliente cuenta con crédito para Credilana Dineralia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'CreditoDineralia'
--GO
--EXEC sys.sp_addextendedproperty @name=N'LimiteDineralia', @value=N'Indica el limite de crédito para Credilana Dineralia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'LimiteDineralia'
--GO
--EXEC sys.sp_addextendedproperty @name=N'BloqueoDineralia', @value=N'Indica si el cliente esta bloqueado para otorgar crédito para Credilana Dineralia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'BloqueoDineralia'
--GO
--EXEC sys.sp_addextendedproperty @name=N'FechaBloqDineralia', @value=N'Campo donde se guardara fecha que durara bloqueado el Cliente para Credilana Dineralia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'FechaBloqDineralia'
--GO
--EXEC sys.sp_addextendedproperty @name=N'MotivoDesbloqDineralia', @value=N'Campo donde se guardara el motivo por que fue desbloqueado el cliente para Credilana Dineralia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'MotivoDesbloqDineralia'
--GO
--EXEC sys.sp_addextendedproperty @name=N'NumeroTarjetaDineralia', @value=N'Campo para almacenar el numero de tarjeta del cliente (Dineralia)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'NumeroTarjetaDineralia'
--GO
--EXEC sys.sp_addextendedproperty @name=N'ReestructuraDeuda', @value=N'Guarda una concatenacion de movId, mov y articulo que resultaron mal en el comparativo
--										  de embarcado vs escaneado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'ReestructuraDeuda'
--GO
--EXEC sys.sp_addextendedproperty @name=N'LineaCredMayoreo', @value=N'Registrar la linea de credito de mayoreo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'LineaCredMayoreo'
--GO
--EXEC sys.sp_addextendedproperty @name=N'LCAXSIMayoreo', @value=N'Indica el limite de crédito de sistema para CREDILANA MAYOREO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'LCAXSIMayoreo'
--GO
--EXEC sys.sp_addextendedproperty @name=N'CPAXAMayoreo', @value=N'Capadidad de pago designada por analista de mayoreo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'CPAXAMayoreo'
--GO
--EXEC sys.sp_addextendedproperty @name=N'TipoCuentaMayoreo', @value=N'Registra el tipo de cuenta de mayoreo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'TipoCuentaMayoreo'
--GO
--EXEC sys.sp_addextendedproperty @name=N'IngresoTipo', @value=N'Campo para Saber si es Clabe o numero de tarjeta ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'IngresoTipo'
--GO
--EXEC sys.sp_addextendedproperty @name=N'Banco', @value=N'Nombre del Banco' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Cte', @level2type=N'COLUMN',@level2name=N'Banco'
--GO
