
GO
/****** Object:  Table [dbo].[TablaSt]    Script Date: 23/09/2022 02:43:41 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TablaSt](
	[TablaSt] [varchar](250) NOT NULL,
 CONSTRAINT [priTablaSt] PRIMARY KEY CLUSTERED 
(
	[TablaSt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TablaSt] ([TablaSt]) VALUES (N'LIMITE CREDITO COBRO')
INSERT [dbo].[TablaSt] ([TablaSt]) VALUES (N'CFG PRELIMINAR COBRO')
INSERT [dbo].[TablaSt] ([TablaSt]) VALUES (N'ACD00001SHMRECORDATORIONIP')
GO
