
GO
/****** Object:  Table [dbo].[TcIRM0906_ConfigDivisionYParam]    Script Date: 23/09/2022 07:47:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TcIRM0906_ConfigDivisionYParam](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Division] [varchar](30) NULL,
	[DV] [int] NULL,
	[DI] [int] NULL,
	[PorcdeAbonoFinal] [float] NULL,
	[PorcdeBonificaciondeInteres] [int] NULL,
	[CategoriaVenta] [varchar](20) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TcIRM0906_ConfigDivisionYParam] ON 

INSERT [dbo].[TcIRM0906_ConfigDivisionYParam] ([ID], [Division], [DV], [DI], [PorcdeAbonoFinal], [PorcdeBonificaciondeInteres], [CategoriaVenta]) VALUES (1, N'AGUASCALIENTES', 149, 180, 30, 50, NULL)
INSERT [dbo].[TcIRM0906_ConfigDivisionYParam] ([ID], [Division], [DV], [DI], [PorcdeAbonoFinal], [PorcdeBonificaciondeInteres], [CategoriaVenta]) VALUES (2, N'AGUASCALIENTES', 149, 180, 40, 70, NULL)
INSERT [dbo].[TcIRM0906_ConfigDivisionYParam] ([ID], [Division], [DV], [DI], [PorcdeAbonoFinal], [PorcdeBonificaciondeInteres], [CategoriaVenta]) VALUES (3, N'AGUASCALIENTES', 149, 180, 50, 100, NULL)
SET IDENTITY_INSERT [dbo].[TcIRM0906_ConfigDivisionYParam] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'ID', @value=N'Este campo es un autoincrementable' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TcIRM0906_ConfigDivisionYParam', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'Division', @value=N'Este campo almacena el nombre de la división' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TcIRM0906_ConfigDivisionYParam', @level2type=N'COLUMN',@level2name=N'Division'
GO
EXEC sys.sp_addextendedproperty @name=N'DV', @value=N'Este campo almacena el parametro de dias vencidos que deben cumplirse' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TcIRM0906_ConfigDivisionYParam', @level2type=N'COLUMN',@level2name=N'DV'
GO
EXEC sys.sp_addextendedproperty @name=N'DI', @value=N'Este campo almacena el parametro de dias de inactividad que deben cumplirse' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TcIRM0906_ConfigDivisionYParam', @level2type=N'COLUMN',@level2name=N'DI'
GO
EXEC sys.sp_addextendedproperty @name=N'PorcdeAbonoFinal', @value=N'Este campo almacena el porcentaje de pago que debe cumplir el cliente para la condonación' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TcIRM0906_ConfigDivisionYParam', @level2type=N'COLUMN',@level2name=N'PorcdeAbonoFinal'
GO
EXEC sys.sp_addextendedproperty @name=N'PorcdeBonificaciondeInteres', @value=N'Este campo almacena el porcentaje de interes a condonar' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TcIRM0906_ConfigDivisionYParam', @level2type=N'COLUMN',@level2name=N'PorcdeBonificaciondeInteres'
GO
EXEC sys.sp_addextendedproperty @name=N'CategoriaVenta', @value=N'Campo nvo. para Categoría de Venta' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TcIRM0906_ConfigDivisionYParam', @level2type=N'COLUMN',@level2name=N'CategoriaVenta'
GO
EXEC sys.sp_addextendedproperty @name=N'TcIRM0906_ConfigDivisionYParam', @value=N'Esta tabla tiene por objetivo almacenar los porcentajes de condonación de moratorios por division, en base a dias de vencimiento e inactividad' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TcIRM0906_ConfigDivisionYParam'
GO
