
GO
/****** Object:  Table [dbo].[VentasCanalMAVI]    Script Date: 23/09/2022 07:03:27 p. m. ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasCanalMAVI](
	[ID] [int] NOT NULL,
	[Clave] [varchar](10) NOT NULL,
	[Cadena] [varchar](50) NOT NULL,
	[Categoria] [varchar](50) NOT NULL,
	[UEN] [int] NULL,
	[RecibeLayout] [bit] NULL,
	[PorRFCNomina] [varchar](1) NULL,
	[GeneraCargoxMoratorio] [bit] NULL,
	[SeEnviaBuroCreditoMavi] [bit] NULL,
	[MaviTipoControlInst] [varchar](15) NULL,
	[MaviPeriodoInst] [varchar](15) NULL,
	[MaviNomRep] [varchar](20) NULL,
	[RutaCobUnicaja] [varchar](4) NULL,
	[NombreMacro] [varchar](50) NULL,
	[MasDeUna] [bit] NULL,
	[SucInicial] [int] NULL,
	[SucFinal] [int] NULL,
	[CatGrupo] [varchar](5) NULL,
	[PorcComision] [float] NULL,
	[Acreedor] [varchar](10) NULL,
	[EmiteRecibo] [bit] NULL,
	[Manejosaldo] [int] NULL,
	[EstatusF] [varchar](5) NULL,
 CONSTRAINT [priVentasCanalMAVI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VentasCanalMAVI] ([ID], [Clave], [Cadena], [Categoria], [UEN], [RecibeLayout], [PorRFCNomina], [GeneraCargoxMoratorio], [SeEnviaBuroCreditoMavi], [MaviTipoControlInst], [MaviPeriodoInst], [MaviNomRep], [RutaCobUnicaja], [NombreMacro], [MasDeUna], [SucInicial], [SucFinal], [CatGrupo], [PorcComision], [Acreedor], [EmiteRecibo], [Manejosaldo], [EstatusF]) VALUES (1, N'AP MA', N'APARTADO MA', N'CONTADO', 1, 0, NULL, 0, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ALTA')
INSERT [dbo].[VentasCanalMAVI] ([ID], [Clave], [Cadena], [Categoria], [UEN], [RecibeLayout], [PorRFCNomina], [GeneraCargoxMoratorio], [SeEnviaBuroCreditoMavi], [MaviTipoControlInst], [MaviPeriodoInst], [MaviNomRep], [RutaCobUnicaja], [NombreMacro], [MasDeUna], [SucInicial], [SucFinal], [CatGrupo], [PorcComision], [Acreedor], [EmiteRecibo], [Manejosaldo], [EstatusF]) VALUES (2, N'CO MA', N'CONTADO MA', N'CONTADO', 1, 0, NULL, 0, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ALTA')
INSERT [dbo].[VentasCanalMAVI] ([ID], [Clave], [Cadena], [Categoria], [UEN], [RecibeLayout], [PorRFCNomina], [GeneraCargoxMoratorio], [SeEnviaBuroCreditoMavi], [MaviTipoControlInst], [MaviPeriodoInst], [MaviNomRep], [RutaCobUnicaja], [NombreMacro], [MasDeUna], [SucInicial], [SucFinal], [CatGrupo], [PorcComision], [Acreedor], [EmiteRecibo], [Manejosaldo], [EstatusF]) VALUES (3, N'CR MA', N'CREDITO MA', N'CREDITO MENUDEO', 1, 0, NULL, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ALTA')
GO
ALTER TABLE [dbo].[VentasCanalMAVI] ADD  DEFAULT ((0)) FOR [RecibeLayout]
GO
ALTER TABLE [dbo].[VentasCanalMAVI] ADD  DEFAULT ((0)) FOR [GeneraCargoxMoratorio]
GO
ALTER TABLE [dbo].[VentasCanalMAVI] ADD  DEFAULT ((0)) FOR [EmiteRecibo]
GO
EXEC sys.sp_addextendedproperty @name=N'EstatusF', @value=N'Campo para saber si el canal esta dado de baja o alta' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'VentasCanalMAVI', @level2type=N'COLUMN',@level2name=N'EstatusF'
GO
